<!DOCTYPE html>
<html>
<head>
    <title>Blog Post</title>
    <!-- Include Handlebars library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <!-- Your JavaScript code -->
    <script src="/public/Javascript/newPostHandler.js"></script>
    <script src="/public/Javascript/deletePost.js"></script>
    <script src="/public/Javascript/editPost.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="card text-dark shadow mb-3 blogPost-main">
                <div class="text-center mx-auto p-3">
                    <h2>{{title}}</h2>
                    <p>Created by {{user.name}} on {{format_date date_created}}</p>
                    <p>{{description}}</p>
                    <button class="btn btn-dark" id="editBtn">Edit</button>
                    <button class="btn btn-dark" id="deleteBtn">Delete</button>
                </div>

                <div class="text-center">
                    <h3>Comments</h3>
                    {{#each comments as |comment| }}
                        <div>
                            <p>{{comment.comment_body}} by {{comment.user.name}} on {{format_date comment.date_created}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <!-- Include the comments partial -->
    {{> comment }}
</body>
</html>


